
.loginbtn {
    background-color: #79BE20; /* Green */
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }
  
  .form-control{
    width: 300px;
  }

  .row{
    width: 700px;
  }