.mat-toolbar{
    margin: -25px;
    margin-bottom: 10px;
    width: auto;
    background-color: #78BE20;
    
}
mat-form-field{
    padding: 5px;
}
.close-button{
    float: right;
    top:-24px;
    right:-24px;
    background-color: white;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }
  
 
  