<mat-toolbar color="primary">
<mat-toolbar-row fxLayout="row">
<span>Forgot Password?</span>
<span class="spacer"></span>
<!-- <button mat-icon-button class="close-button btn btn-sm" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button> -->
</mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
        <div flFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.errors.required">*Required</mat-error>
                <mat-error *ngIf="forgotPasswordForm.controls.email.errors.pattern">*Email is invalid</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <!-- [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)" -->
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" >
        Reset Password
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>

</mat-dialog-actions>