.mat-toolbar{
   color: #333;
}
.text-center{
  color: #333;
}
mat-form-field{
    padding: 5px;
    border: #78BE20;
   
}
input{
  border-color: #78BE20 !important;
  
}

.close-button{
    float: right;
    margin: auto;
    right: 0;
    background-color: white;
  }
  .btn{
    background-color: #78BE20;
    color: white;
  }
  .close-icon {
    transition: 1s ease-in-out;
  }
  
 
  