<div>
   
<div class="text-center">

    <h3>Trouble Logging In?</h3>
    <p>Enter your email and we'll send you a link to get back to your acccount. </p>
</div>
<span class="spacer"></span>



<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
        <div flFlex fxLayout="column">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label >Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="forgotPasswordForm.controls.email.errors.required">*Required</mat-error>
                <mat-error *ngIf="forgotPasswordForm.controls.email.errors.pattern">*Email is invalid</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
 <button mat-raised-button class="btn" type="submit" (click)="handleSubmit()" >
        Reset Password
    </button>
    <button mat-raised-button class="btn" color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>
</div>