<title>Candidate Registration</title>

<section class="vh-100 gradient-custom">

  <div class="container">
    <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="col">
          <h3>Candidate Registration</h3><br>
        </div>


      </div>

      <!-- Alert -->
      <div *ngIf="isAlert" class="alert alert-success">
        Registered Successfully!
      </div>


      <!-- Full Name -->
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-floating mb-3">
            <input type="text" formControlName="fullName" class="form-control" placeholder="Full Name"
              [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
            <label for="floatingInput">Full Name</label>
            <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
              <div *ngIf="f.fullName.errors.required">*Required</div>
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="col-md-6 mb-4">

          <div class="form-floating mb-3">
            <input type="email" formControlName="email" class="form-control" placeholder="Email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <label for="floatingInput">Email</label>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">*Required</div>
              <div *ngIf="f.email.errors.email">Email is Invalid</div>
            </div>
          </div>
        </div>
      </div>

      <!-- DOB -->
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-floating mb-3">
            <input type="date" class="form-control" formControlName="dob" placeholder="dob"
              [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
            <label for="floatingInput">DOB</label>
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
              <div *ngIf="f.dob.errors.required">*Required</div>
            </div>
          </div>
        </div>

        <!-- Gender -->
        <div class="col-md-6 mb-4">
          <label class="form-label" for="gender">Gender</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="female" />&nbsp;
            <label class="form-check-label" for="femaleGender">Female</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="male" />&nbsp;
            <label class="form-check-label" for="maleGender">Male</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="other" />&nbsp;
            <label class="form-check-label" for="otherGender">Other</label>
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-floating mb-3">

            <textarea class="form-control" formControlName="address" placeholder="Address"
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
            <label for="floatingInput">Address</label>
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">*Required</div>

            </div>
          </div>
        </div>


       <!-- Phone Number -->
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">

            <mat-form-field appearance="outline" style="width:100%;" [floatLabel]="getFloatLabelValue()">
              <mat-label>Phone Number</mat-label>
              <ngx-mat-intl-tel-input [preferredCountries]="['in','us', 'ca']" [enablePlaceholder]="true"
                [enableSearch]="true" placeholder="Enter Number" formControlName="phoneNumber"
                #phoneNumber></ngx-mat-intl-tel-input> 
          
            </mat-form-field>
            <mat-error *ngIf="submitted && f.phoneNumber.hasError('required')" class="invalid-feedback">


              *Required
            </mat-error>
            <!-- <mat-error *ngIf="submitted && f.phoneNumber.hasError('is-invalid')" class="invalid-feedback">Invalid</mat-error> -->




          </div>
        </div>
      
      </div>


      <!-- city -->

      <div class="row">
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">
            <input type="text" formControlName="city" class="form-control" placeholder="City"
              [ngClass]="{ 'is-invalid': submitted && f.city.errors }" (click)="OnClick()" />
            <label for="floatingInput">City</label>
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">*Required</div>
            </div>
          </div>
        </div>

        <!-- country dropdown-->

        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">
            <!-- <mat-label>Country</mat-label> -->
            <mat-select class="form-control" formControlName="country">
              <ng-container *ngFor="let country of countries">

                <mat-option *ngIf="country.name.common==='India'" [value]=country.name.common> {{ country.name.common }}
                </mat-option>
                
              </ng-container>
              <ng-container *ngFor="let country of countries">

                <mat-option *ngIf="country.name.common!=='India'" [value]=country.name.common> {{ country.name.common }}
                </mat-option>
                
              </ng-container>
            </mat-select>
            <label for="country">Country</label>
            <mat-error *ngIf="submitted && f.country.hasError('required')" class="invalid-feedback"><br>
              *Required
            </mat-error>
          </div>
        </div>
      </div>

      <!-- Nationality -->
      <div class="row">
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">
            <input type="text" formControlName="nationality" class="form-control" placeholder="Nationality"
              [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" />
            <label for="floatingInput">Nationality</label>
            <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
              <div *ngIf="f.nationality.errors.required">*Required</div>
            </div>
          </div>
        </div>

        <!-- YOE -->

        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">

            <select class="form-control" formControlName="yearOfExperience"
              [ngClass]="{ 'is-invalid': submitted && f.yearOfExperience.errors }">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="5">5 and above</option>
            </select>
            <label for="floatingInput">Year Of Experience</label>
            <div *ngIf="submitted && f.yearOfExperience.errors" class="invalid-feedback">
              <div *ngIf="f.yearOfExperience.errors.required">*Required</div>
            </div>
          </div>
        </div>
      </div>


      <!-- Current Company -->
      <div class="row">
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">
            <input type="text" formControlName="currentCompany" class="form-control" placeholder="Current Company" />
            <label for="floatingInput">Current Company</label>

          </div>
        </div>

        <!-- Current CTC -->
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">
            <input type="text" formControlName="currentCTC" class="form-control" placeholder="Current CTC" />

            <label for="floatingInput">Current CTC</label>
          </div>
        </div>
      </div>

      <!-- Current Position -->
      <div class="row">
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">

            <input type="text" formControlName="currentPosition" class="form-control" placeholder="Current Position" />
            <label for="floatingInput">Current Position</label>
          </div>
        </div>

        <!-- Expected CTC -->
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">

            <input type="text" formControlName="expectedCTC" class="form-control" placeholder="Expected CTC" />

            <label for="floatingInput">Expected CTC</label>
          </div>
        </div>
      </div>


      <!-- Skills -->
      <div class="row">
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">
            <mat-select class="form-control" formControlName="skills" multiple>
              <mat-option *ngFor="let item of skill" [value]=item.skill> {{ item.skill}}
              </mat-option>
            </mat-select>
            <label for="floatingInput">Skills</label>
            <mat-error *ngIf="submitted && f.skills.hasError('required')" class="invalid-feedback"><br>
              *Required
            </mat-error>
          </div>
        </div>

        <!-- Social Link -->

        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">
            <input type="text" formControlName="sociaLink" class="form-control" placeholder="Social Link"
              [ngClass]="{ 'is-invalid': submitted && f.sociaLink.errors }" />
            <label for="floatingInput">Social Link</label>
            <div *ngIf="submitted && f.sociaLink.errors" class="invalid-feedback">
              <div *ngIf="f.sociaLink.errors.required">*Required</div>
            </div>
          </div>
        </div>
      </div>

      <!-- <status> -->
      <div class="row">
        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">
            <select class="form-control" formControlName="status"
              [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
              <option value="Awaiting">Awaiting</option>
              <option value="Resume review">Resume review</option>
              <option value="Assessment">Assessment</option>
              <option value="Tech interview">Tech Interview</option>
              <option value="Onboarding">Onboarding</option>
              <option value="Completed">Completed</option>
              <option value="Rejected">Rejected</option>
            </select>
            <label for="floatingInput">Status</label>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">*Required</div>
            </div>
          </div>
        </div>

        <!-- <Jobs> -->

        <div class="col-md-6 mb-4 pb-2">
          <div class="form-floating mb-3">
            <mat-select class="form-control" formControlName="designation">
              <!-- <mat-option [value]="jobs[1].title"  >{{ jobs[1].title }}</mat-option> -->
              <mat-option *ngFor="let job of jobs" [value]=job.title> {{ job.title}}
              </mat-option>
            </mat-select>
            <label for="country">Position</label>
            <mat-error *ngIf="submitted && f.designation.hasError('required')" class="invalid-feedback"><br>
              *Required
            </mat-error>
          </div>
        </div>

      </div>
      <div class="col">
        <!-- Button -->

        <div class="text-center">
          <div class="mt-4 pt-2">

            <!-- <input class="loginbtn" type="submit" value="Submit" /> -->

            <button type="submit" class="loginbtn btn">Create Candidate</button>  
            <!-- <button type="reset" (click)="resetForm()" class="loginbtn">Reset</button>   -->
          </div>
        </div>

        <br>
      </div>
    </form>
  </div>
</section>