#candidateInfo{
    width: 110%;
    height: 70vh;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.row{
    width: 250px;
    
}
.card-header{
    width: 100%
}