.card-body {
    padding: 5px 1em 0 2em;
}

#candidateInfo{
    width: 110%;
    display: flex;
    height: 70vh;
    justify-content: space-between;
    flex-direction: row;
}


.card {
    margin-top: 8px;
    padding: 5px;

}

.column-header {
    width: 100%;
    font-size: 18px;
}

.card-image {
    width: 42px;
}



.flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
    padding: 5px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-front {
    background-color: white;
    color: black;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    background-color: white;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}