<h5 class="section-title h3">Candidate Progress</h5><br>

<div id="candidateInfo" *ngIf="candidateInfo.length != 0">
    
    <div class="custom-column">
        <div class="card-header fas badge square-pill badge-warning column-header">Awaiting candidates</div>
        <div class="card" *ngFor="let item of getStatus(candidateInfo,'Awaiting')" >
           
            <ul class="list-group list-group-light" *ngIf="item.status == 'Awaiting'">
                <li class="list-group-item d-flex justify-content-between align-items-center"  >
                  <div class="d-flex align-items-center" >
                    <img src="../../assets/img/person.jpg" alt="" style="width: 45px; height: 45px;"
                      class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{ item.fullName}}</p>
                      <p class="text-muted mb-0">{{ item.designation}}</p>

                    </div>
                    
                  </div>
    
                </li>
                
            
              </ul>
            
        </div>
    </div>

    
    <div class="custom-column">
        <div class="card-header fas badge square-pill badge-primary column-header">Resume review</div>
        <div class="card"   *ngFor="let item of getStatus(candidateInfo,'Resume review')">            
            <ul class="list-group list-group-light" *ngIf="item.status == 'Resume review'">
                <li class="list-group-item d-flex justify-content-between align-items-center"  >
                  <div class="d-flex align-items-center" >
                    <img src="../../assets/img/person.jpg" alt="" style="width: 45px; height: 45px;"
                      class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{ item.fullName}}</p>
                      <p class="text-muted mb-0">{{ item.designation}}</p>
                      
                    </div>
                  </div>
    
                </li>
                
            
              </ul>
        </div>
    </div>
    <div class="custom-column">
        <div class="card-header fas badge square-pill badge-primary column-header">Assessment</div>
        <div class="card"  *ngFor="let item of getStatus(candidateInfo,'Assessment')">            
            <ul class="list-group list-group-light" *ngIf="item.status == 'Assessment'">
                <li class="list-group-item d-flex justify-content-between align-items-center"  >
                  <div class="d-flex align-items-center" >
                    <img src="../../assets/img/person.jpg" alt="" style="width: 45px; height: 45px;"
                      class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{ item.fullName}}</p>
                      <p class="text-muted mb-0">{{ item.designation}}</p>

                    </div>
                 
                  </div>
    
                </li>
                
            
              </ul>
        </div>
    </div>
    <div class="custom-column">
        <div class="card-header fas badge square-pill badge-primary column-header">Technical Interview</div>
        <div class="card" *ngFor="let item of getStatus(candidateInfo,'Tech interview')">
            
            <ul class="list-group list-group-light" *ngIf="item.status == 'Tech interview'">
                <li class="list-group-item d-flex justify-content-between align-items-center"  >
                  <div class="d-flex align-items-center" >
                    <img src="../../assets/img/person.jpg" alt="" style="width: 45px; height: 45px;"
                      class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{ item.fullName }}</p>
                      <p class="text-muted mb-0">{{ item.designation}}</p>
                     
                    </div>
                    
                  </div>
    
                </li>
                
            
              </ul>


        </div>
    </div>
    <div class="custom-column">
        <div class="card-header fas badge square-pill badge-primary column-header">OnBoarding</div>
        <div class="card"  *ngFor="let item of getStatus(candidateInfo,'Onboarding')">
           
            <ul class="list-group list-group-light" *ngIf="item.status == 'Onboarding'">
                <li class="list-group-item d-flex justify-content-between align-items-center"  >
                  <div class="d-flex align-items-center" >
                    <img src="../../assets/img/person.jpg" alt="" style="width: 45px; height: 45px;"
                      class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{ item.fullName}}</p>
                      <p class="text-muted mb-0">{{ item.designation}}</p>
                     
                    </div>
                   
                  </div>
    
                </li>
                
            
              </ul>


        </div>
    </div>
    <div class="custom-column">
        <div class="card-header fas badge square-pill badge-success column-header">Completed</div>
        <div class="card"  *ngFor="let item of getStatus(candidateInfo,'Completed')">
            
            <ul class="list-group list-group-light" *ngIf="item.status == 'Completed'">
                <li class="list-group-item d-flex justify-content-between align-items-center"  >
                  <div class="d-flex align-items-center" >
                    <img src="../../assets/img/person.jpg" alt="" style="width: 45px; height: 45px;"
                      class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{ item.fullName}}</p>
                      <p class="text-muted mb-0">{{ item.designation}}</p>
                      <p class="text-muted mb-0">Score: {{ item.score}}</p>
                      
                    </div>
                   
                  </div>
    
                </li>
                
            
              </ul>
        </div>
    </div>
    <div class="custom-column">
        <div class="card-header fas badge square-pill badge-danger column-header">Rejected</div>
        <div class="card"  *ngFor="let item of getStatus(candidateInfo,'Rejected')">
            
            <ul class="list-group list-group-light" *ngIf="item.status == 'Rejected'">
                <li class="list-group-item d-flex justify-content-between align-items-center"  >
                  <div class="d-flex align-items-center" >
                    <img src="../../assets/img/person.jpg" alt="" style="width: 45px; height: 45px;"
                      class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{ item.fullName}}</p>
                      <p class="text-muted mb-0">{{ item.designation}}</p>

                    </div>
                    
                  </div>
    
                </li>
                
            
              </ul>
    </div>
</div>
</div>
<div *ngIf="candidateInfo.length == 0">
<p>No data!</p>
</div>