// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$terahire-ui-primary: mat.define-palette(mat.$indigo-palette);
$terahire-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$terahire-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$terahire-ui-theme: mat.define-light-theme((color: (primary: $terahire-ui-primary,
        accent: $terahire-ui-accent,
        warn: $terahire-ui-warn,
      )));
// table{
//   overflow-x: scroll
// }
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($terahire-ui-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary: #78BE20;
$danger: red;

@import "../node_modules/bootstrap";
@import "../node_modules/mdb-ui-kit/css/mdb.min.css";
$primary-color: #78BE20;

.primary-color {
  color: #78BE20 !important ; 
  background-color: #78BE20 !important;
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '~@fortawesome/fontawesome-free/scss/solid.scss';
// @import '~@fortawesome/fontawesome-free/scss/regular.scss';
// @import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
// @import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
.mat-menu-panel {
  max-height: 200px !important;

}

.spinner-loading{
  display: flex;
  margin: auto;
  justify-content: center;
}
//job info progress bar
.custom-progress-bar .mat-progress-bar-fill::after {
  background-color: #039823 !important;

}

.custom-progress-bar {
  width: 100% !important;
}
