
  <form class="input-group w-25" style="float: right;padding-bottom:10px">
    <input search (keyup)="applyFilter($event)" autocomplete="off" type="search" class="form-control rounded"
        placeholder='Search' style="min-width: 225px" />
    
</form>
<div *ngIf="dataSource != null">
  

  <table mat-table [dataSource]="dataSource">
 
    <!-- Position Column -->

  

    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element,index as i"> {{ i }} </td>
    </ng-container>


    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> User Id </th>
      <td mat-cell *matCellDef="let element,index as i"> {{ element.id }} </td>
    </ng-container>


    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element,index as i"> 
        <!-- <div class="form-outline w-50" *ngIf="editById[i]">
          <input type="text"  class="form-control form-control-sm" [value]="element.username" #username/>
        </div>  -->
       <div >
        {{ element.username }}
       </div>
      </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name</th>
      <td mat-cell *matCellDef="let element,index as i"> 
        <div class="form-outline w-50" *ngIf="editById[i]">
          <input type="text"  class="form-control form-control-sm" [value]="element.firstName" #firstName />
        </div> 
       <div *ngIf="!editById[i]">
        {{ element.firstName }}
       </div>
      </td>
    </ng-container>

  
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element,index as i"> 
        <div class="form-outline w-50" *ngIf="editById[i]">
          <input type="text"  class="form-control form-control-sm" [value]="element.lastName" #lastName />
        </div> 
       <div *ngIf="!editById[i]">
        {{ element.lastName }}
       </div>
      </td>
    </ng-container>

   
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

&nbsp;
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element,index as i">
        
        <div class="form-outline" *ngIf="editById[i]">
          <input type="text" [maxLength]="13"  class="form-control form-control-sm" [value]="element.phoneNumber" #phoneNumber />
        </div>


          
            <!-- <mat-error *ngIf="submitted && f.phoneNumber.hasError('is-invalid')" class="invalid-feedback">Invalid</mat-error> -->

        
       <div *ngIf="!editById[i]">
        {{ element.phoneNumber }}
       </div>
      </td>
    </ng-container>

   

    <ng-container matColumnDef="role" >
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element,index as i" >
        <div *ngIf="!editById[i]">
          <span *ngIf="element.userTypeId == 201">Admin</span>
          <span *ngIf="element.userTypeId == 202">Recruiter</span>
          <span *ngIf="element.userTypeId == 203">Hiring Manager</span>
          <span *ngIf="element.userTypeId == 204">Interviewer</span>
        </div>

      
        <div *ngIf="editById[i]">
          <select class="form-control-sm" #role>
          <option value="201" [defaultSelected]="element.userTypeId == 201">Admin</option>
          <option value="202" [defaultSelected]="element.userTypeId == 202">Recruiter</option>
          <option value="203" [defaultSelected]="element.userTypeId == 203">Hiring Manger</option>
          <option value="204" [defaultSelected]="element.userTypeId == 204">Interviewer</option>
      </select>
      <!-- <div *ngIf="submitted && f.role.errors" class="invalid-feedback"><br>
          <div *ngIf="f.role.errors.required">*Required</div>
      </div> -->
        </div>
             
        
      </td>


    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.statusId == 101" class="badge rounded-pill badge-success">Active</span>  
        <span *ngIf="element.statusId == 102" class="badge rounded-pill badge-danger">Inactive</span>  
      </td>


    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td class="mat-cell" *matCellDef="let element,index as i" >

        <span *ngIf="!editById[i]">
          <button type="button" class="btn btn-success px-3" (click)="editThis(i)"><i class="bi bi-pencil-square" aria-hidden="true" title="edit"></i></button>
          &nbsp;
         <button type="button" class="btn btn-danger px-3" (click)="openDialog(element.id,element.username)"><i class="bi bi-trash-fill" aria-hidden="true" title="delete"></i></button> 
        </span>

        <span *ngIf="editById[i]">
          <button type="button" class="btn btn-danger px-3" (click)="editThis(i)"><i class="bi bi-x-circle" aria-hidden="true" title="cancel"></i></button> 
          &nbsp;
          <button type="button" class="btn btn-success px-3" (click)="updateChanges(i)"><i class="bi bi-check-circle" aria-hidden="true" title="save" ></i></button>
         
        
        </span>
       
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
  </table>

 
  
</div>


<mat-paginator [pageSizeOptions]="[5,10,15]"
[showFirstLastButtons]="true" [pageSize]="10"  
aria-label="Select page of periodic elements" (page)="handlePage($event)">
</mat-paginator>
<div *ngIf="dataSource == null">
  <p>No data!</p>
</div>
<!-- 
<mat-spinner [mode]="'indeterminate'" value="50" ></mat-spinner> -->
