
<div class="form-group">
    <label for="startDate"><b>Start Date:</b></label>
    <input type="date"  [(ngModel)]="startDate" 
      class="form-control">
  </div>
  <br>
  <div class="form-group">
    <label for="endDate"><b>End Date:</b></label>
    <input type="date"  [(ngModel)]="endDate" 
      class="form-control">
  </div>
  <br>
  <mat-form-field           class="form-control">
    <mat-label>Job</mat-label>
    <mat-select [(ngModel)]="job"  >
      <mat-option *ngFor="let job of jobList" [value]="job">{{job.title}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <br>
  <mat-form-field class="form-control" >
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="type" (valueChange)="listCandidate($event)">
      
    <mat-option value="Resume review">Resume review</mat-option>
    <mat-option value="Assessment">Assessment</mat-option>
    <mat-option value="Tech Interview">Tech Interview</mat-option>
    <mat-option value="Onboarding">Onboarding</mat-option>
    
    </mat-select>
  </mat-form-field>


<br>
    <mat-form-field class="form-control">
      <mat-label>Team Members</mat-label>
      <mat-select [(ngModel)]="teamMembers" multiple>
        <mat-option *ngFor="let member of teamList" [value]="member">{{member.firstName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="form-control">
      <mat-label>Candidates</mat-label>
      <mat-select [(ngModel)]="candidates" multiple>
        <mat-option *ngFor="let candidate of candidatesList" [value]="candidate">{{candidate.fullName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
   <br>
    <div>
      <button class="btn loginbtn"  (click)="saveEventClick()">Save</button> 
    </div>