<title>User Registration</title>
<section class="vh-100 gradient-custom">

    <div class="container">
        <div class="row justify-content-center align-items-center ">

            <div class="col">

                <form [formGroup]="userRegisterForm">
                    <div class="row">

                        <div class="col">
                            <h3>User Registration</h3><br>
                        </div>

                    </div>
                    <!-- First Name  -->

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="firstName"
                                    placeholder="name@example.com"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                <label for="floatingInput">First Name</label>
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">*Required</div>
                                </div>
                            </div>
                        </div>

                        <input type="file" style="display: none;" src="../../assets/img/userAvatar.jpg" formControlName="imageModel">
                        <!-- Last Name  -->

                        <div class="col-md-6 mb-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="lastname"
                                    placeholder="name@example.com"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                                <label for="floatingInput">Last Name</label>
                                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastname.errors.required">*Required</div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Username -->
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" l formControlName="username"
                                    placeholder="name@example.com"
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                <label for="floatingInput">Username</label>
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">*Required</div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 mb-4">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" style="text-transform: lowercase;"
                                    formControlName="email" placeholder="name@example.com"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <label for="floatingInput">Email</label>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">*Required</div>
                                    <div *ngIf="f.email.errors.email">Email is Invalid</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="row">

                       

                        <!-- Phone Number -->

                        <div class="col-md-6 mb-4">
                            <div class="form-floating mb-3">
                                <mat-form-field appearance="outline" style="width:100%;height: 58px"
                                    [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Phone Number</mat-label>
                                    <ngx-mat-intl-tel-input [preferredCountries]="['in','us', 'ca']"
                                        [enablePlaceholder]="true" [enableSearch]="true" placeholder="Enter Number"
                                        formControlName="phonenumber" #phonenumber></ngx-mat-intl-tel-input>                                    
                                </mat-form-field>
                                <mat-error *ngIf="submitted && f.phonenumber.hasError('required')"
                                    class="invalid-feedback">*Required </mat-error>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="form-floating mb-3">
                                <select class="form-control" formControlName="role"
                                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }">

                                    <option value="201" >Admin</option>
                                    <option value="202">Recruiter</option>
                                    <option value="203">Hiring Manger</option>
                                    <option value="204">Interviewer</option>
                                </select>
                                <label for="floatingInput">Select Role</label>
                                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                    <div *ngIf="f.role.errors.required">*Required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Role  -->

                    <div class="row">                       
                     
                    </div>


                    <!-- Button -->

                    <div class="col">
                        <div class="text-center">
                            <div class="mt-4 pt-2">
                                <input class="loginbtn" type="submit" value="Create User" (click)="onSubmit()" />
                            </div>
                        </div>

                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</section>