<table class="table">
    <caption><a href="#">See all</a></caption>
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Profession</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventList,index as i"  >
        <td *ngIf="i<4">{{ event.candidate[0].fullName }}</td>
        <td *ngIf="i<4">{{ event.job.title }}</td>
        <td *ngIf="i<4"><span class="badge rounded-pill badge-primary">{{event.type}}</span></td>
      </tr>
     
    </tbody>
  </table>