<table class="table">
    <caption><a href="#">See all</a></caption>
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Profession</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>UI Designner</td>
        <td><span class="badge rounded-pill badge-primary">Tech interview</span></td>
      </tr>
      <tr>
        <td>Ella Clintion</td>
        <td>Content Designer</td>
        <td><span class="badge rounded-pill badge-primary">Task</span></td>
      </tr>
      <tr>
        <td>Mike Tyler</td>
        <td>Node.js Developer</td>
        <td><span class="badge rounded-pill badge-primary">Resume review</span></td>
      </tr>
    </tbody>
  </table>