<!-- Search box -->

<form class="input-group w-25" style="float: right;padding-bottom:10px">
    <input search (keyup)="applyFilter($event)" autocomplete="off" type="search" class="form-control rounded"
        placeholder='Search' style="min-width: 225px" />
    <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
</form>

<div class="mat-elevation-z8" *ngIf="dataSource != null">

    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->

        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element "> {{ element.id }} </td>
        </ng-container>



        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef>Full Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.fullName }}
            </td>
        </ng-container>


        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>



        <ng-container matColumnDef="PhoneNumber">
            <th mat-header-cell *matHeaderCellDef> PhoneNumber </th>
            <td mat-cell *matCellDef="let element"> {{ element.phoneNumber }}</td>
        </ng-container>


        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{ element.gender }}</td>
        </ng-container>

        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef> DOB </th>
            <td mat-cell *matCellDef="let element"> {{ element.dob|date : 'dd/MM/yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{ element.address }}</td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{ element.country }}</td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{ element.city }}</td>
        </ng-container>

       
        <ng-container matColumnDef="nationality">
            <th mat-header-cell *matHeaderCellDef> Nationality </th>
            <td mat-cell *matCellDef="let element"> {{ element.nationality }}</td>
        </ng-container>

        <ng-container matColumnDef="yearOfExperience">
            <th mat-header-cell *matHeaderCellDef> YearOfExperience </th>
            <td mat-cell *matCellDef="let element"> {{ element.yearOfExperience }}</td>
        </ng-container>
        <ng-container matColumnDef="currentCompany">
            <th mat-header-cell *matHeaderCellDef> Current Company </th>
            <td mat-cell *matCellDef="let element"> {{ element.currentCompany }}</td>
        </ng-container>
        <ng-container matColumnDef="currentPosition">
            <th mat-header-cell *matHeaderCellDef> Current Position </th>
            <td mat-cell *matCellDef="let element"> {{ element.currentPosition }}</td>
        </ng-container>
        <ng-container matColumnDef="currentCTC">
            <th mat-header-cell *matHeaderCellDef> Current CTC </th>
            <td mat-cell *matCellDef="let element"> {{ element.currentCTC }}</td>
        </ng-container>
        <ng-container matColumnDef="expectedCTC">
            <th mat-header-cell *matHeaderCellDef> Expected CTC </th>
            <td mat-cell *matCellDef="let element"> {{ element.expectedCTC }}</td>
        </ng-container>
        <ng-container matColumnDef="skills">
            <th mat-header-cell *matHeaderCellDef> Skills </th>
            <td mat-cell *matCellDef="let element"> {{ element.skills }}</td>
        </ng-container>
        <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef> Designation </th>
            <td mat-cell *matCellDef="let element"> {{ element.designation }}</td>
        </ng-container>
        <ng-container matColumnDef="sociaLink">
            <th mat-header-cell *matHeaderCellDef> SociaLink </th>
            <td mat-cell *matCellDef="let element"> {{ element.sociaLink }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.status == 'Awaiting'" class="fas badge rounded-pill badge-warning">Awaiting</span>
                <span *ngIf="element.status == 'Resume review'" class="badge rounded-pill badge-primary">Resume
                    review</span>
                <span *ngIf="element.status == 'Assessment'" class="badge rounded-pill badge-primary">{{element.status}}</span>
                <span *ngIf="element.status == 'Tech interview'" class="badge rounded-pill badge-primary">{{element.status}}</span>
                <span *ngIf="element.status == 'Onboarding'" class="badge rounded-pill badge-primary">{{element.status}}</span>
                <span *ngIf="element.status == 'Completed'" class="badge rounded-pill badge-success">{{element.status}}</span>
                <span *ngIf="element.status == 'Rejected'" class="badge rounded-pill badge-danger">{{element.status}}</span>
            </td>
        </ng-container>

       



        <ng-container matColumnDef="actions" *ngIf="(userType == 'ROLE_HM')">
            <th mat-header-cell *matHeaderCellDef > Actions </th>
            <td mat-cell *matCellDef="let element,">

                <button [disabled]="true" class="btn btn-success px-3"><i class="bi bi-pencil-square"
                        aria-hidden="true" title="edit"></i></button>&nbsp;

                <button [disabled]="true"  class="btn btn-danger px-3"><i
                        class="bi bi-trash-fill" aria-hidden="true" title="delete"></i></button>


            </td>
        </ng-container>


        <ng-container matColumnDef="actions" *ngIf="userType == 'ROLE_HR' || userType == 'ROLE_ADMIN'">
            <th mat-header-cell *matHeaderCellDef > Actions </th>
            <td mat-cell *matCellDef="let element,">

                <button  (click)="onUpdateClicked(element)" class="btn btn-success px-3"><i class="bi bi-pencil-square"
                        aria-hidden="true" title="edit"></i></button>&nbsp;

                <button  (click)="openDialog(element.id,element.fullName)" class="btn btn-danger px-3"><i
                        class="bi bi-trash-fill" aria-hidden="true" title="delete"></i></button>


            </td>
        </ng-container>
        <ng-container matColumnDef="actions" *ngIf="userType == 'ROLE_IN'">
            <th mat-header-cell *matHeaderCellDef > Actions </th>
            <td mat-cell *matCellDef="let element,">

                <button  (click)="onUpdateClicked(element)" class="btn btn-success px-3"><i class="bi bi-pencil-square"
                        aria-hidden="true" title="edit"></i></button>&nbsp;
                        <button [disabled]="true"  class="btn btn-danger px-3"><i
                            class="bi bi-trash-fill" aria-hidden="true" title="delete"></i></button>


            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>




</div>

<div *ngIf="dataSource == null">
    <p>No data!</p>
</div>
<mat-paginator [pageSizeOptions]="[5,10,15,20]" [pageSize]="10" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>


<mat-spinner [diameter]="40" *ngIf="!isloaded"></mat-spinner>








