.mat-table {
  overflow-x: hidden !important; 
}

// td {
//   min-width: 130px;
//   margin: 5px !important;
// }
.mat-spinner{
  ::ng-deep circle {
    stroke: #78BE20;
}
}
.mat-header-cell {
  min-width: 70px;
  max-width: max-content;
}

.mat-elevation-z8 {
  overflow-x: scroll !important;
  width: 100%;
}

table {
  width: 150%;
  overflow-x: hidden !important;
}


//search bar
.example-header {
padding-top: 0px;
float: right;

}
