
.loginbtn {
    background-color: white; /* Green */
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }
 