
<!-- <img src="../../assets/img/t.png" alt="login form" style="width: 20%;" /> -->
<section style="background-color: white;">
    <div class="container py-5">
        
        <div class="row">
            

            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h4 class="text-center">My Profile</h4>
                        <img src="../../assets/img/userAvatar.jpg" alt="avatar" class="rounded-circle img-fluid"
                            style="width: 180px;">
                        <h4 class="my-3">{{user.firstName}}</h4>
                        <p class="text-muted mb-1">Full Stack Developer</p>
                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="loginbtn">
                        <button type="button" class="btn btn-primary" (click)="update()" >Update</button>

                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-floating mb-3"></div>
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" [(ngModel)]="user.firstName"
                                    [value]=user.firstName>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" [(ngModel)]="user.lastName"
                                    [value]=user.lastName>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Username</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" [(ngModel)]="user.username"
                                    [value]=user.username>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" [(ngModel)]="user.email" [value]=user.email disabled>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone Number</p>
                            </div>
                            <div class="col-sm-9">
                                <!-- <input type="text" class="form-control" [(ngModel)]="user.phoneNumber"
                                [value]=user.phoneNumber> -->


                                <div class="col-md-6 mb-4 pb-2">
                                    
                                    <div class="form-floating mb-3">
                          
                                      <mat-form-field appearance="outline" style="width:100%;" >
                                       
                                        <ngx-mat-intl-tel-input [inputPlaceholder]="user.phoneNumber" [preferredCountries]="['in','us', 'ca']" [enablePlaceholder]="true"
                                          [enableSearch]="true"  formControlName="phoneNumber" [placeholder]="user.phoneNumber"
                                          #phoneNumber> </ngx-mat-intl-tel-input> 
                                    
                                      </mat-form-field>

                          
                                    </div>
                                  </div>



                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">DOB</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" formControlName="dob">
                            </div>
                        </div> -->


                    </div>

                </div>


            </div>
        

        </div>
   
    </div>
</section>
